:root {
    --background_primary: #0d1117;
    --background_secondary: #161B22;
    --background_details: rgb(48, 54, 61);

    --font_primary:rgb(201, 209, 217);
    --font_secondary: rgb(139, 148, 158);

    --link_underline: #F78166;
    --link_repositorie: #58A6FF;

    --css_color: #563D7C;
    --html_color: #E34C26;
}

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--background_primary);

    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    color: var(--font_primary);
}

header {
    background-color: var(--background_secondary);
    height: 60px;

    text-align: center;

    display: flex;
    align-items: center;
    justify-content: center;
}

/* braga-git.github.io */

    .profile_url a{
        color: var(--font_primary);
        text-decoration: none;

        font-size: 1.5em;
        font-weight: bold;
    }

    .profile_url a:hover {
        color: var(--font_secondary);

        transition-duration: .5s;
    }

main {
    width: 800px;

    margin: auto;
}

/* profile */

    .profile_card {
        display: flex;
        align-items: center;
        justify-content: center;

        margin-top: 20px;
        margin-bottom: 25px;
    }

    .profile_pic {
        border-radius: 50%;
        border: 2px solid var(--background_details);

        width: 150px;
    }

    .profile_infos {
        margin-left: 15px;
    }

    /* names */

        .names {
            margin-bottom: 15px;
        }

        .user_name {
            font-size: 1.5em;
            font-weight: bold;

            padding-bottom: 2px;
        }

        .user_nickname {
            display: flex;
            column-gap: 5px;

            text-decoration: none;

            font-size: 16px;
            
            color: var(--font_secondary);
        }

        .user_nickname:hover {
            color: var(--font_primary);

            transition-duration: .5s;
        }

    /* user location */

        .user_location {
            display: flex;
            align-items: center;
        }

        .user_location i {
            margin-right: 8px;
        }

/* repositories */

    .repositories {
        border-top: 1px solid var(--background_details);
        padding-top: 25px;

        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        row-gap: 15px;
        column-gap: 15px;
    }

    .repositorie_card {
        height: 100px;
        width: 360px;

        border: 1px solid var(--background_details);
        border-radius: 6px;

        padding: 15px;

        position: relative;
    }

    .repositorie_card a {
        font-size: 14px;
        font-weight: bold;

        text-decoration: none;
        color: var(--link_repositorie);
    }

    .repositorie_card a:hover {
        text-decoration: underline;
    }

    .repositorie_card > p {
        font-size: 12px;
        color: var(--font_secondary);

        margin-top: 10px;
    }

    /* languages */

        .dev_languages {
            display: flex;
            column-gap: 15px;

            position: absolute;
            bottom: 15px;
        }

    /* html */

        .html {
            display: flex;

            font-size: 12px;
            color: var(--font_secondary);
        }

        .html_color {
            background-color: var(--html_color);
            border: 1px solid #d17760be;
            border-radius: 50%;

            width: 11px;
            height: 11px;

            margin-right: 5px;
        }

        /* css */

        .css {
            display: flex;

            font-size: 12px;
            color: var(--font_secondary);            
        }

        .css_color {
            background-color: var(--css_color);
            border: 1px solid #b999ec5e;
            border-radius: 50%;

            width: 11px;
            height: 11px;

            margin-right: 5px;
        }